.inputform-and-result
  .inputform-and-result__inputform
    -# 初期
    %table{class: 'inputform-and-result__inputform__active-table', id: 'table1'}
      = render 'input_monthly_deposit'
      = render 'input_period'
      = render 'input_return'

    -# 変更
    %table{ class: 'inputform-and-result__inputform__table', id: 'table2'}
      = render 'input_final_amount'
      = render 'input_period'
      = render 'input_return'

    %table{ class: 'inputform-and-result__inputform__table', id: 'table3'}
      = render 'input_final_amount'
      = render 'input_monthly_deposit'
      = render 'input_return'

    %table{ class: 'inputform-and-result__inputform__table', id: 'table4'}
      = render 'input_final_amount'
      = render 'input_monthly_deposit'
      = render 'input_period'

  .inputform-and-result__btns
    %button.inputform-and-result__btns--calculate-btn 計算する
    %button.inputform-and-result__btns--reset-btn リセット

  .inputform-and-result__result
    %h.inputform-and-result__result--description 計算結果です
    .inputform-and-result__result--number ◯◯円